How to prepare YANG models for openconfig path compression

I am trying to extend openconfig models for SNMP configuration. I took small part of SNMP YANG models by IETF and modify them to support openconfig path compression as described [here](https://github.com/openconfig/ygot/blob/master/docs/design.md#openconfig-path-compression):
- Wrapped lists in containers;
- Added `config` and `state` containers.

ygot generator with compress_paths set to true fails to generate GoStruct code with the following error:

`F0523 17:44:33.541962 1513758 generator.go:384] ERROR Generating GoStruct Code: invalid compressed schema, could not find the key name or the grandparent of /ietf-snmp/snmp/config/targets/target/name`

**ygot generator invocation**
```
generator -output_file=./pkg/openconfig/oc.go \
            -package_name=oc \
            -compress_paths=true \
            ietf-snmp.yang ietf-snmp-common.yang ietf-snmp-target.yang ietf-yang-types.yang
```

**Modifications to the IETF YANG models**

1. Truncated `ietf-snmp.yang` to 2 submodules:
```
module ietf-snmp {

  namespace "urn:ietf:params:xml:ns:yang:ietf-snmp";
  prefix snmp;

  include ietf-snmp-common {
    revision-date 2014-12-10;
  }
  include ietf-snmp-target {
    revision-date 2014-12-10;
  }
```

2. Addedd `config` and `state` to `snmp` container in IETF `ietf-snmp-common` submodule:
```
submodule ietf-snmp-common {
  // ... the same as IETF down to the next line
  container snmp {
    description
      "Top-level container for SNMP-related configuration and
      status objects.";

    container config {
      description
        "Configuration data for SNMP";
    }

    container state {

      config false;

      description
        "Operational state data for SNMP";
    }
  }
}
```

3. Changed augmentation in `ietf-snmp-target` submodule to `grouping targets-top`, enclosed list with `container targets` and added augmentations at the very end:
```
submodule ietf-snmp-target {

  belongs-to ietf-snmp {
    prefix snmp;
  }

  import ietf-inet-types {
    prefix inet;
  }

  include ietf-snmp-common;

  organization
    "IETF NETMOD (NETCONF Data Modeling Language) Working Group";

  contact
    "WG Web:   <http://tools.ietf.org/wg/netmod/>
     WG List:  <mailto:netmod@ietf.org>

     WG Chair: Thomas Nadeau
               <mailto:tnadeau@lucidvision.com>

     WG Chair: Juergen Schoenwaelder
               <mailto:j.schoenwaelder@jacobs-university.de>

     Editor:   Martin Bjorklund
               <mailto:mbj@tail-f.com>

     Editor:   Juergen Schoenwaelder
               <mailto:j.schoenwaelder@jacobs-university.de>";

  description
    "This submodule contains a collection of YANG definitions
     for configuring SNMP targets.

     Copyright (c) 2014 IETF Trust and the persons identified as
     authors of the code.  All rights reserved.

     Redistribution and use in source and binary forms, with or
     without modification, is permitted pursuant to, and subject
     to the license terms contained in, the Simplified BSD License
     set forth in Section 4.c of the IETF Trust's Legal Provisions
     Relating to IETF Documents
     (http://trustee.ietf.org/license-info).
     This version of this YANG module is part of RFC 7407; see
     the RFC itself for full legal notices.";

  reference
    "RFC 3413: Simple Network Management Protocol (SNMP)
       Applications";

  revision 2014-12-10 {
    description
      "Initial revision.";
    reference
      "RFC 7407: A YANG Data Model for SNMP Configuration";
  }

  grouping targets-top {

    container targets {
      description
      "Enclosing container ";

      list target {
        key name;
        description
          "List of targets.";
        reference
          "RFC 3413: Simple Network Management Protocol (SNMP)
            Applications.
            SNMP-TARGET-MIB.snmpTargetAddrTable";

        leaf name {
          type snmp:identifier;
          description
            "Identifies the target.";
          reference
            "RFC 3413: Simple Network Management Protocol (SNMP)
              Applications.
              SNMP-TARGET-MIB.snmpTargetAddrName";
        }

        container config {
          choice transport {
            mandatory true;
            description
              "Transport address of the target.

              The snmpTargetAddrTDomain and snmpTargetAddrTAddress
              objects are mapped to transport-specific YANG nodes.  Each
              transport is configured as a separate case in this
              choice.  Submodules providing configuration for additional
              transports are expected to augment this choice.";

            reference
              "RFC 3413: Simple Network Management Protocol (SNMP)
                Applications.
                SNMP-TARGET-MIB.snmpTargetAddrTDomain
                SNMP-TARGET-MIB.snmpTargetAddrTAddress";
            case udp {
              reference
              "RFC 3417: Transport Mappings for the Simple Network
                  Management Protocol (SNMP).
                  SNMPv2-TM.snmpUDPDomain
                RFC 3419: Textual Conventions for Transport Addresses.
                  TRANSPORT-ADDRESS-MIB.transportDomainUdpIpv4
                  TRANSPORT-ADDRESS-MIB.transportDomainUdpIpv4z
                  TRANSPORT-ADDRESS-MIB.transportDomainUdpIpv6
                  TRANSPORT-ADDRESS-MIB.transportDomainUdpIpv6z";
              container udp {
                leaf ip {
                  type inet:ip-address;
                  mandatory true;
                  reference
                    "RFC 3413: Simple Network Management Protocol (SNMP).
                      SNMP-TARGET-MIB.snmpTargetAddrTAddress";
                }
                leaf port {
                  type inet:port-number;
                  default 162;
                  description
                    "UDP port number.";
                  reference
                    "RFC 3413: Simple Network Management Protocol (SNMP).
                      SNMP-TARGET-MIB.snmpTargetAddrTAddress";
                }
                leaf prefix-length {
                  type uint8;
                  description
                    "The value of this leaf must match the value of
                    ../snmp:ip.  If ../snmp:ip contains an IPv4 address,
                    this leaf must be less than or equal to 32.  If it
                    contains an IPv6 address, it must be less than or
                    equal to 128.

                    Note that the prefix-length is currently only used
                    by the Community-based Security Model to filter
                    incoming messages.  Furthermore, the prefix-length
                    filtering does not cover all possible filters
                    supported by the corresponding MIB object.";

                  reference
                    "RFC 3584: Coexistence between Version 1, Version 2,
                      and Version 3 of the Internet-standard
                      Network Management Framework.
                      SNMP-COMMUNITY-MIB.snmpTargetAddrTMask";
                }
              }
            }
          }
          leaf-list tag {
            type snmp:tag-value;
            description
              "List of tag values used to select target addresses.";
            reference
              "RFC 3413: Simple Network Management Protocol (SNMP).
                Applications.
                SNMP-TARGET-MIB.snmpTargetAddrTagList";
          }
          leaf timeout {
            type uint32;
            units "0.01 seconds";
            default 1500;
            description
              "Needed only if this target can receive
              InformRequest-PDUs.";
            reference
              "RFC 3413: Simple Network Management Protocol (SNMP).
                Applications.
                SNMP-TARGET-MIB.snmpTargetAddrTimeout";
          }
          leaf retries {
            type uint8;
            default 3;
            description
              "Needed only if this target can receive
              InformRequest-PDUs.";
            reference
              "RFC 3413: Simple Network Management Protocol (SNMP).
                Applications.
                SNMP-TARGET-MIB.snmpTargetAddrRetryCount";
          }
          leaf target-params {
            type snmp:identifier;
            mandatory true;
            reference
              "RFC 3413: Simple Network Management Protocol (SNMP).
                Applications.
                SNMP-TARGET-MIB.snmpTargetAddrParams";
          }
        }
      }
    }
  }

  augment "/snmp:snmp/snmp:config" {
    uses targets-top;
  }

  augment "/snmp:snmp/snmp:state" {
      uses targets-top;
  }
}
```

The best way to do this is to use the OpenConfig linter that is available as a plugin to pyang -- [github.com/openconfig/oc-pyang.](https://github.com/openconfig/oc-pyang)

If you run `pyang --plugindir <path/to/oc_pyang/openconfig_pyang> --lint --openconfig` then the OpenConfig linter will check that there is style guide compliance.

In this case, `name` in `list target` should be a `leafref` to a `config/name` leaf. The style guide has a section on this: https://github.com/openconfig/public/blob/master/doc/openconfig_style_guide.md#list
