RFC7951 encoding of empty list encoded as null

Per RFC7951 Section 5.4, define the encoding of a list as a name/array pair. Furthermore, per RFC8259 section 5, 
an array must be a pair of square bracket, so  null is not a valid encoding.
